@import "../../styles/colors";

.places {
    &__container {
        width: 100%;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;

        h2 {
            font-size: 3.6rem;
            font-weight: 700;
            color: $green;
            margin-right: 15%;

            span {
                color: $black;
            }
        }

        &-select {
            display: flex;
            gap: 1rem;
            align-items: flex-end;
            border-bottom: 1px solid black;
            padding: 0 1.5rem;
            line-height: 2.1rem;

            h5 {
                font-size: 1.8rem;
                font-weight: 500;
                color: #706d6d;
                width: 11rem;
            }

            select {
                border: none;
                font-size: 1.7rem;
                font-weight: 500;
                line-height: 2.1rem;
                padding: 0rem 0.4rem;
            }
        }
    }
}

@media (max-width: 530px) {
    .places {
        &__content-select {
            flex-direction: column;
            gap: 0;
            justify-content: flex-end;
        }

        &__content h2 {
            margin-right: 4%;
            font-size: 3rem;
        }
    }
}

@media (max-width: 320px) {
    .places {
        &__content {
            flex-direction: column;
            justify-content: center;
            align-items: baseline;
            width: 100%;

            h2 {
                margin-right: 0;
            }
        }

        &-select {
            h5 {
                width: 100%;
                padding: 0;
            }
        }
    }
}
