@import '../../styles/colors';

.card {

    &__container {
        width: 20rem;
        margin-bottom: 6rem;

        img {
            width: 20rem;
            border-radius: 1rem;
            margin-bottom: 2rem;
        }

        &-content {
            padding:0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 23rem;

            h2{
                font-size: 2.3rem;
                font-weight: 700;
                text-align: start;
                line-height: 2.7rem;
            }

            p {
                line-height: 2.1rem;
                font-size: 1.8rem;
                text-align: justify;
                color: black;
            }
        }
    }
}