@import "../../styles/colors";

header {
    height: 8rem;
    margin-bottom: 2rem;
    width: 1024px;
    margin: 0 auto;
}

.header__ {
    &container {
        height: 8rem;
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 300;
        position: fixed;
        top: 0;
        z-index: 2;
    }

    &logo-- {
        &state {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.8rem;

            img {
                height: 2.8rem;
                object-fit: scale-down;
                cursor: pointer;
            }
        }

        &logo {
            font-size: 1.2rem;
            display: flex;
            gap: 1.2rem;
            align-items: baseline;

            img {
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 1024px) {
    header {
        width: 95%;
    }
}

@media (max-width: 756px) {
    header {
        height: 6rem;

        .header__container {
            height: 6rem;
        }

        img:last-child {
            height: 30px;
        }

        .header__logo--state {
            flex-direction: column;
            gap: 0;

            img {
                height: 15px;
            }

            span {
                display: none;
            }

            p {
                border-top: 1px solid black;
            }
        }
    }
}
